<div class="starsDiv">
	<span id='hidden'>{{ item.id }}</span>
	<span id='1' class="glyphicon glyphicon-star-empty"></span>
	<span id='2' class="glyphicon glyphicon-star-empty"></span>
	<span id='3' class="glyphicon glyphicon-star-empty"></span>
	<span id='4' class="glyphicon glyphicon-star-empty"></span>
	<span id='5' class="glyphicon glyphicon-star-empty"></span>
	<small>  (Click star to submit rating)</small>
</div>
